<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <!-- Add the default Elasticsuite Special Attributes. -->
    <type name="Smile\ElasticsuiteCatalogRule\Model\Rule\Condition\Product\SpecialAttributesProvider">
        <arguments>
            <argument name="attributes" xsi:type="array">
                <item name="is_new_in" xsi:type="object">Zero1\NewIn\Model\Rule\Condition\Product\SpecialAttribute\IsNewIn</item>
            </argument>
        </arguments>
    </type>
</config>